CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
# CONFIG_TARGET_MULTI_PROFILE is not set
CONFIG_TARGET_mediatek_filogic_DEVICE_nradio_c8-660-no2=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_PACKAGE_adb=y
CONFIG_PACKAGE_kmod-mediatek_hnat=y
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_luci-app-Secondsystem660=y
CONFIG_PACKAGE_luci-app-eqos-mtk=y
CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
# CONFIG_PACKAGE_luci-app-mwan3 is not set
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
# CONFIG_PACKAGE_luci-app-zmodem is not set
CONFIG_PACKAGE_mtk-smp=y
CONFIG_PACKAGE_mtkhqos_util=y
CONFIG_PACKAGE_mtwifi-cfg=y
CONFIG_PACKAGE_mtwifi-wapp=y
# CONFIG_PACKAGE_mwan3 is not set
# CONFIG_PACKAGE_nradio-rm520n-scripts is not set
CONFIG_PACKAGE_qos-scripts=y
CONFIG_PACKAGE_sendat=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
